.footer {
    background: #331a09;
    color: #e0e0e0;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 0.9em;
    border-top: 1px solid #444;
  }